.dashboard {
  display: flex;
  background-color: #f5f5f5;
  min-height: 100vh;
}

.dashboardContainer {
  flex-grow: 1;
  padding: 30px;
  margin-left: 250px;
}

.dashboardSummary {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.dashboardCard {
  background-color: #ffffff;
  padding: 20px;
  flex: 1;
  margin: 10px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chartArea {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.chartCard {
  background-color: #ffffff;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 45%;
}

.chartCard h2 {
  text-align: center;
}

